#header {
  background-color: #fff;
  height: 60px;
  padding: 10px 60px;
  position: relative;
  z-index: 100;
  display: flex;
  /*实现垂直居中*/
  align-items: center;
}
#footer_div {
  background-color: #fff;
  height: 60px;
  padding: 10px 60px;
  position: relative;
  z-index: 100;
  display: flex;
  /*实现垂直居中*/
  align-items: flex-start;
  font-size: 200%;
  justify-content: center;
}
#logo{
	float: left;
	height: 60px;
	display: flex;
    /*实现垂直居中*/
    align-items: center;
}
#logotext{
	float: left;
	font-size: 200%;
	display: flex;
    /*实现垂直居中*/
    align-items: center;
	justify-content: center;
	letter-spacing: 4px;
	font-weight: bold;
}
.r_bar_bg{
	margin:0 auto;
	width: 60%;
}
.nav{
	height: 80px;
	float: left;
	display: flex;
    /*实现垂直居中*/
    align-items: center;
	letter-spacing: 4px;
	
}
.link_dev{
	height: 60px;
	width: 100px;
	display: flex;
    /*实现垂直居中*/
    align-items: center;
	justify-content: center;
	font-size: 200%;
	color: black;
}
.link_dev:hover{
	background-color: grey;
}
a:visited{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
}